/*
 * CookieRun Gothic
 */


@font-face {
  font-family:'CookieGothic';
  src: url('@/assets/fonts/CookieRun/CookieRunRegular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family:'CookieGothic';
  src: url('@/assets/fonts/CookieRun/CookieRunBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family:'CookieGothic';
  src: url('@/assets/fonts/CookieRun/CookieRunBlack.ttf') format('truetype');
  font-weight: 700;
}