@import "@/assets/scss/common.scss";

.content {
  .container {
    padding: 40px 0 60px;
		> .row {
			> div > div {
				padding: 20px 10px;
				background-color: #fff;
				border-radius: 12px;
				height: 100%;
				h3 {
					font-size: 1.75rem;
					margin-bottom: 1rem;
					text-indent: 16px;
					position: relative;
					a {
						position: absolute;
						right: 10px;
					}
				}
			}
		} 
  }
  .none {
    display: none !important;
  }

  background-color: antiquewhite;
	.banner {
		width: 100%;
		height: 80vh;
		overflow: hidden;
		background-image: url('@/assets/images/books-banner.jpg');
		//background-image: url('@/assets/images/library-banner.jpeg');
		background-size: cover;
		background-position: 0 50%;
		box-sizing: border-box;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(160, 228, 197, 0.2);
			z-index: 1;
		}

		.container {
			position: relative;
			padding-top: 20vh;
			z-index: 1;
			text-align: center;
			h2 {
				font-size: 4rem;
				color: $primary;
				text-shadow: 4px 4px 6px rgba(0,0,0, 0.6);
				letter-spacing: 1px;
				font-weight: 600;
				font-family: "CookieGothic", sans-serif;
			}
			p {
				font-size: 2rem;
				color: #fff;
				text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
				font-weight: 500;
			}
			.search-wrap {
				position: relative;
				width: 70%;
				margin: 50px auto 0;
				input[type="search"] {
					width: 100%;
					height: 60px;
					border-radius: 5px;
					border: 1.5px solid $primary;
				}
				svg {
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
					z-index: 1;
					font-size: 2rem;
					color: $primary;
				}
			}
		}
		//.news{
		//	background-color: rgba(0, 0, 0, 0.7);
		//	color: #fff;
		//	width: 400px;
		//	padding: 10px;
		//	position: absolute;
		//	right: 20px;
		//	top: 50px;
		//}
	}


	//추신인
	.top-rank {
		padding: 0 !important;
		> div {
			padding: 20px 0;
		}
		.rank-btn-wrap {
			padding: 20px 40px;
			border-bottom: 1px solid $gray-400;
			position: relative;
			button {
				font-size: 1.75rem;
				font-weight: 600;
				color: $gray-300;
				padding: 0 10px;
				margin: 0 4px;
				position: relative;
				&.active {
					color: $gray-200;
					&::after {
						content: '';
						position: absolute;
						bottom: -21px;
						left: 0;
						width: 100%;
						height: 2px;
						background-color: $primary;
					}
				}
			}
			a {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				font-size: 1.25rem;
				background-color: $primary;
				color: #fff;
				padding: 10px 20px;
				border-radius: 10px 0 0 10px;
			}
		}
		.swiper-container {
			position: relative;
			padding: 20px 70px;
			.swiper {
				.img-wrap { 
					width: 100%;
					height: 16rem;
					img {
						display: block;
						height: 100%;
					}
				}
				p {
					font-size: 1rem;
					font-weight: 500;
					margin: 0.7rem 0 0;
					width: 100%;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
			.swiper-navigation {
				button {
					transform: scale(0.8);
				}
			}
		}
	}

	// 일정
	.schedule {
		.vuejs3-datepicker {
			width: 100%;
			.vuejs3-datepicker__calendar {
				width: 100%;
				box-shadow: none;
			}
		}
	}

	// 도서 리스트
	.book-list {
		.book-card {
			background-color: #fff;
			border-radius: 10px;
			padding: 20px;
			margin-bottom: 20px;
			.img-wrap {
				margin-right: 20px;
				border: 1px solid $border-color;
				height: fit-content;
				img {
					width: 120px;
				}
			}
		}
		.book-info {
			.book-title {
				font-size: 1.25rem;
				font-weight: 500;
				margin-bottom: 10px;
			}
			.info-detail > div {
				margin-right: 20px;
				margin-bottom: 5px;
			}
			.type {
				font-weight: 500;
				color: $gray-300;
			}
			.book-summary {
				color: $secondary;
			}
		}
	}

	.author {
		.author-book {
			img {
				display: block;
				width: 200px;
			}
		}
	}

	// 장르별 필터
	.gerne-sel {
		.gerne-selected{
			.sel {
				position: relative;
				width: fit-content;
				height: 40px;
				line-height: 40px;
				padding: 0 8px;
				border: 1px solid $border-color;
				border-radius: 5px;
			}
			.sel + .sel {
				margin-left: 10px;
			}
			svg {
				margin-left: 8px;
			}
		}
	}
  
}